<html>
    <title>Registro</title>

    <body>
        <form action="/register" method="post">

        <center>
            
            <h1>Registro</h1><br>

            <h2>Nome:</h2>
            <input type="text" name="nome" required><br><br>

            <h2>Email:</h2>
            <input type="email" name="email" required><br><br>
            
            <h2>Senha:</h2>
            <input type="password" name="password" required><br><br>

            <h2>Nome de usuário:</h2>
            <input type="text" name="user" required><br><br>

            <h2>Endereço:</h2>
            <input type="text" name="endereco"><br><br>

            <input type="submit" value="Registrar"><br><br><br>

            <strong>Após logado, você será redirecionado para a página de login!</strong>

        </center>
        </form>
    </body>
</html>